.userlist li {
	position: relative; padding: 2px 8px!important;
}
.userlist li label { display: inline-block; width: 75px; }
.userlist li h2 { float: right; font-size: 8pt; margin-top: 6px; }
.userlist li h2::before { display: none; }
.userlist .controls { margin: 0 0 -3px!important; visibility: hidden; }
.userlist li:hover .controls { visibility: visible; }

header.userlist { padding: 0 8px!important; margin: 0!important; }
header.userlist span { padding-left: 5px; font-size: 100%; display: inline-block;
text-transform: uppercase;
font-weight: bold; }
header.userlist span:nth-child(1) { width: 75px; }
header.userlist span:nth-child(3) { float: right; margin-right: 68px; }
